/* List of google fonts:
font-family: 'Turret Road', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Black Ops One', cursive; */

body {
    background-image:url(../images/backgroundIMG3.jpeg);
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Turret Road', cursive;
    font-weight: 900;
}
* {
    box-sizing: border-box;
}
.container-header {
    background-color: rgb(240, 179, 66);
    margin-top: 30px;
}
.tittle{
    background-color: rgb(161, 187, 14);
    font-family: 'Love Ya Like A Sister', cursive;
    border-bottom: 5px solid darkred;
    padding-top: 10px;
}
h1 {
    text-align: center;
    padding: 2%;
}
.row1 {

}
.container {
    width: 960px;
    height: 780px;
    margin-left: 200px;
    margin-right: 200px;
}
ol {
    list-style-type: circle;
    
}
.random {

}
.targetIcon {
    width: 72px;
}
#randomNumber {
    background-color: darkseagreen;
    border:1px solid red;
    font-size: 65px;
    text-align: center;
}
#gemDiv {
    margin-bottom: 40px;
}
.rounded-circle {
    width: 120px;
    height: 120px;
    margin-left: 10px;
}
#scoreBoard {
    float: right;
}
.scoreP {
    font-family: 'Turret Road', cursive;
}
a {
    color: white;
}